        <!-- sub menu -->
        <div class="subMenu">
          <div class="row align-items-center">
            <div class="col-md-6">
              <a href="">PROMOTIONS</a>
              <a href="">BET</a>
              <a href="">INSTANT BET</a>
              <a href="">RESULTS</a>
              <a href="">HELP</a>
            </div>
            <div class="col-md-6 text-right">
              <p>Idioma: English | Mie, 25 Sep 2019</p>
            </div>
          </div>
        </div>
        <!-- end sub menu -->
<div class="portada">

</div>


        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-md-3 panel m-0 p-0">
              <form class="form-inline form-search">
                <span><i class="fas fa-search"></i></span>
                <input type="text" placeholder="Buscar Evento o liga" class="input-search">
              </form>
              <div class="menu-deportes pb-4">
                <ul class="">
                  <li>
                    <p>POPULARES</p>
                  </li>
                  <li>
                    <ul>
                      <a href=""> <span>Futbol <br> Primer league</span></a>
                    </ul>
                  </li>
                </ul>

                <ul>
                  <li>
                    <p>TODOS LOS DEPORTES</p>
                  </li>
                  <li>
                    <ul>
                      <li><a href="">Futbol (657)</a></li>
                      <li><a href="">Beisbol (967)</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="bar-sports">
                <a href=""><i class="far fa-futbol"></i></a>
                <a href=""><i class="fas fa-baseball-ball"></i></a>
                <a href=""><i class="fas fa-basketball-ball"></i></a>
                <a href=""><i class="fas fa-hockey-puck"></i></a>
              </div>

              <div class="bar-selection mt-3">
                <div class="row text-right">
                  <div class="col-md-3">
                    <p class="title-selection">Futbol (8)</p>
                  </div>
                  <div class="col-md-9 pr-4">
                    <p>1x2 Tiempo Completo Doble Oportunidad Goles Totales</p>
                  </div>
                </div>
              </div>

              <div class="results mt-3">
                <div class="card">
                  <div class="row header-card">
                    <div class="col-md-4">
                      <p>Venezuela Primer league</p>
                    </div>
                    <div class="col-md-8 text-right">
                      <p>1 x 2 | 1x 2x 12 | Goles + - |</p>
                    </div>
                  </div>
                  <div class="results-header">
                    <div class="row align-items-center">
                      <div class="col-md-1">
                        <p class="icon-selection"><i class="far fa-futbol"></i></p>
                      </div>
                      <div class="col-md-3">
                        <div class="r-team">
                          <span>carabobo</span> <span>1</span>
                        </div>
                        <div class="r-team">
                          <span>Puerto Cabello</span> <span>1</span>
                        </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 panel">
              <h6 class="h6 text-center">Hoja de apuestas</h6>
            </div>
          </div>
        </div>
