<div class="home-container">
<!-- slider -->

<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- MAIN IMAGE -->
        <img src="assets/images/banner1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
          data-bgrepeat="no-repeat">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bold_white skewfromrightshort customout" data-x="50" data-y="96"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on"
          style="z-index: 4; font-family: 'montserrat', open-sans; font-style: italic; font-weight: 900;color:#d4145a;">
          APUESTA
        </div>
        <!-- LAYER NR. 2 -->
        <div class="tp-caption large_bold_white skewfromrightshort customout" data-x="50" data-y="140"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4; font-family: 'montserrat', open-sans; font-style: italic; font-weight:
                        900;color:#d4145a;">
          <span style="font-weight: 200;">&</span> CASINO
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption small_thin_white customin customout" data-x="50" data-y="200"
          data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="1300" data-easing="Power4.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 8;font-family: 'montserrat',
					    open-sans;color:white;font-weight: 200;">Slider Revolution is the highly
          acclaimed<br /> slide-based displaying solution, thousands of<br /> businesses, theme developers
          and
          everyday<br /> people use and love!
        </div>

        <div class="tp-caption large_bold_white skewfromrightshort customout" data-x="center" data-y="380"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4; color:#fff;"> <a href=""
            class="btn-portada-l">INGRESAR</a>
          <a href="" class="btn-portada-r">REGISTRATE</a>
        </div>

      </li>


      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- MAIN IMAGE -->
        <img src="assets/images/banner2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
          data-bgrepeat="no-repeat">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption large_bold_grey skewfromrightshort customout" data-x="80" data-y="96"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="800" data-easing="Back.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 4">APUESTA
        </div>
      </li>

      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- MAIN IMAGE -->
        <img src="assets/images/banner1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
          data-bgrepeat="no-repeat">
        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption lightgrey_divider skewfromrightshort customout" data-x="85" data-y="224"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="500" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500"
          data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 2">
        </div>
      </li>


    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<!-- slider -->

<div class="stadisticas">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="assets/images/corona.svg" width="80" height="80" alt="">
      <span class="estad">Apuesta & Gana</span>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="assets/images/dados.svg" width="80" height="80" alt="">
      <span class="estad">Juego Limpio</span>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="assets/images/ficha.svg" width="80" height="80" alt="">
      <span class="estad">Pagos Seguros</span>
    </div>
  </div>
</div>

<!-- end estadisticas -->
<!-- seccion one -->
<div class="container">

  <div>
    <h4 class="h1 title-h">{{ 'home.welcome.title' | translate }}</h4>
    <p>
      {{ 'home.welcome.text' | translate }}
    </p>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <img src="assets/images/deportes2.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 text-right">
      <h1 class="h3 title-h">DEPORTES</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, suscipit mollitia! Nesciunt autem
        nobis
        expedita saepe provident deleniti rerum ipsam, quaerat error corrupti, sint totam quam, dolore
        consequatur
        temporibus! Nesciunt.</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 text-left">
      <h1 class="h3 title-h">CASINO</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, suscipit mollitia! Nesciunt autem
        nobis
        expedita saepe provident deleniti rerum ipsam, quaerat error corrupti, sint totam quam, dolore
        consequatur
        temporibus! Nesciunt.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/casino-01.png" class="img-fluid" alt="">
    </div>
  </div>
  <div class="container text-center">
    <h2 class="h3 title-h">Atención al cliente para una total tranquilidad</h2>
    <p>
      Atención al cliente para una total tranquilidad
      Brindamos soporte al cliente las 24 horas todos los días del año. Si tiene algún problema mientras juega
      en Casino Las
      Vegas, no dude en contactarnos. Puede comunicarse con nosotros mediante el chat en vivo aquí en el sitio
      web, llamarnos
      por teléfono o enviarnos un correo electrónico. Nos complace ayudarlo con todo tipo de preguntas e
      inquietudes y haremos
      todo lo posible para resolver cualquier problema que tenga lo más rápido posible.

      En resumen, Casino Las Vegas le ofrece todo lo necesario para una experiencia de juego verdaderamente
      emocionante. Los
      mejores juegos, generosas promociones, atención al cliente individual y mucho más. Regístrese hoy y podrá
      disfrutar de
      las emociones, las vistas y los sonidos de un casino de primer nivel cuando lo desee.
    </p>
  </div>
</div>

</div>