        <!-- sub menu -->
        <div class="subMenu">
          <div class="row align-items-center">
            <div class="col-md-6">
              <a href="">PROMOTIONS</a>
              <a href="">BET</a>
              <a href="">INSTANT BET</a>
              <a href="">RESULTS</a>
              <a href="">HELP</a>
            </div>
            <div class="col-md-6 text-right">
              <p>Idioma: English | Mie, 25 Sep 2019</p>
            </div>
          </div>
        </div>
        <!-- end sub menu -->
        <div class="portada">

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-3 mt-4 panel-casino">
              <form class="form-inline form-search">
                <span><i class="fas fa-search"></i></span>
                <input type="text" placeholder="Buscar juegos" class="input-search">
              </form>

              <ul>
                <li><a href="">Feature</a></li>
                <li><a href="">new</a></li>
                <li><a href="">slots</a></li>
                <li><a href="">jackports</a></li>
                <li><a href="">roulette</a></li>
                <li><a href="">all games</a></li>

              </ul>
            </div>
            <div class="col-md-9">
              <div class="row">
                                <div class="col-md-4 mt-4">
                                  <div class="game">

                                  </div>
                                </div>
                                <div class="col-md-4 mt-4">
                                  <div class="game">

                                  </div>
                                </div>
                                <div class="col-md-4 mt-4">
                                  <div class="game">

                                  </div>
                                </div>
                <div class="col-md-4 mt-4">
                  <div class="game">

                  </div>
                </div>
                <div class="col-md-4 mt-4">
                  <div class="game">

                  </div>
                </div>
                <div class="col-md-4 mt-4">
                  <div class="game">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
